body {
  background-color: rgb(205,247,247);
}
h1 {
  font-size: 40px;
  font-family: "Impact", "Arial Black", fantasy;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 20px;
  color: rgb(41,21,87);
}
img {
  border: 2px ridge rgb(80,65,115);
}
