body {
  background-image: url("bacs200_finalbackground.jpg")
}
h1 {
  font-family: "Bradley Hand", "Papyrus", cursive;
  color: rgb(207,93,135);
  border: 3px groove rgb(92,50,66);
  box-shadow: 2px 2px black;
  padding: 2px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
