 @media screen and (max-width: 500px) {
   .background-picture {
     width: 360px;
     margin-left: auto;
     margin-right: auto;
   }
}
body {
  background-image: url("bacs200_finalbackground.jpg") class="background-picture";
  background-size: 100%;
  background-repeat: no-repeat;
}
h1 {
  font-family: fantasy;
  color: pink;
}
