@media screen and (max-width: 500px) {
}
body {
  background-image: url("bacs200_finalbackground.jpg")
  background-size: 100%;
  background-repeat: no-repeat;
}
h1 {
  font-family: fantasy;
  color: pink;
}
